body {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  text-align: center;
}
img {
  border-radius: 75px 125px;
  display: block;
  margin: 0 auto;
  padding: 25px;
}
h1 {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
}
.btn-primary {
  margin: 5px 50px;
  border-radius: 0.25rem 0.5rem;
  font-family: "Square Peg", cursive;
  font-size: 1.5em;
  background-color: rgb(191, 145, 224, 0.6);
  border: 0px;
}
